body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;

  background-color: white;
  list-style-type: none;
}

.container {
  position: relative;
  display: block;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Arial", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  box-sizing: border-box;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

h4 {
  margin: 0;
  padding: 0;
  color: #111111;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1300px) {
  .container {
    box-sizing: border-box;
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
